<div class="container" >
  <footer class="footer">
    <small>Copy right is reserved </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>